*{
  box-sizing: border-box;
  margin: 0px;
}
body{
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.card{
  width: 600px;
  height: 450px;
  display: flex;
  justify-content: flex-start;
  border-radius:  8px;
  overflow: hidden;

}
.info{
  width: 100%;
  background-color: hsl(0, 0%, 100%); 
  padding: 30px;
}
.Type{
  color: hsl(228, 12%, 48%);
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size:  14px;
  margin-bottom: 15;
  
}
.Title{
  color: hsl(212, 21%, 14%);
  font-family: 'Fraunces', serif;  
  line-height: 2.1rem;
  font-size: 2.2rem;
  text-transform: capitalize;
  margin: 15px auto;
}
.about{
  color: hsl(228, 12%, 48%);
  font-size:  14px;
  line-height: 1.5rem;
  margin: 20px auto;
}
.price{
  display: flex;
  align-items: center;
  margin: 20px auto;
}
.curr-price{
  display: inline-block;
  font-family: 'Fraunces', serif;  
  color: hsl(158, 36%, 37%);
  font-size: xx-large;
  font-weight: bold;
}
.old-price{
  padding-left: 15px;
  text-decoration: line-through;
  display: inline-block;
  color: hsl(228, 12%, 48%);
}

button{
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%); 
  border-radius: 10px;
  height: 50px;
  font-weight: bold;
  margin-top: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button:hover{
  cursor: pointer;
  background-color: hsl(158, 36%, 20%);;
}
.image{
  width: 100%;
}
.desk{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 375px) and (max-width: 1439px){

  
  .card{
    width: 350px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius:  10px;
    overflow: hidden;
  
  }
  button{
    margin: 15px auto;
  }
  .info{
    
    padding-left: 30px;
  }
  .desk{
    display: none;
  }
  .mob{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}
